.MMM-ip .line {
    line-height: 1.2em;
}

.MMM-ip.voice-mode {
    margin-top: 0;
}

.MMM-ip-blur {
    -webkit-filter: blur(2px) brightness(50%);
}

.MMM-ip .modal {
    position: fixed;
    text-align: left;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.MMM-ip .modal ul {
    margin: 0;
}
